html {
    /* background-image: url('./img/photo-1617957771986-7be224613e43.jpeg');
    background-repeat: no-repeat;
    background-size: cover; */
    background-image: linear-gradient(to bottom left,  #444398,       #6850ad
    );
}